#prod_image{
	height: 50%;
	font-weight: 50%;
}

#image_container{
	text-align: center;
}

#product_page{
	height: 100%;
}

#back{
	font-size: 2em;
	color: black;
}

.qty{
	align-self: center;
}

.ListGroup{
	margin:  auto;
	text-align: center;
}

.col{
	margin: auto;
	text-align: start;
}

h1{
	font-size: 2rem;
	padding: 1 rem;
}

h2s{
	font-size: 1rem;
	padding: 0.4rem;
}